@import 'variables';

// Globally Required Fonts
// The font names have been attached to the variables set in
// _variables.scss to ensure that the naming convention is
// consistent between all the files.
@font-face {
  font-family: $font-roboto-regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: $font-roboto-bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: $font-roboto-italic;
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: $font-roboto-blackitalic;
  src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: $font-roboto-mediumitalic;
  src: url('../fonts/Roboto-MediumItalic.ttf');
}