@import 'variables';

// max-width-padded
//
// A globally used mixin between the areas to ensure
// that the structure of the site is consistent between
// all areas.  Max width causes gutters on the left and
// right to ensure that the content does not grow outside
// of the requested area.  Padding is applied so that
// there is spacing on the left and right when the
// site goes into responsive mode.
@mixin max-width-padded {
  padding: 0 16px;
  margin: 0 auto;
  max-width: calc(1420px - 32px);
}

// gray-bottom-border
//
// A globally used mixin to standardize the use of the
// bottom border and allow for global adjustments if
// necessary.
@mixin gray-bottom-border {
  border-bottom: 1px solid $color-gray;
}

// position
//
// For common bulk rules like position, I like to create
// mixins that combine them into one call with arguments
// to standardize the way they are used.
@mixin position($type: 'absolute', $top: null, $right: null, $bottom: null, $left: null) {
  position: $type;
  @if $top != null {top: $top;}
  @if $right != null {right: $right;}
  @if $bottom != null {bottom: $bottom;}
  @if $left != null {left: $left;}
}

// border-radius
//
// Since border radius works differently based on the
// browser that is used, I use this mixin to ensure that
// all of the standard border radius rules are accounted
// for when the feature is applied.
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}