// Colors
$color-white: #FFFFFF;
$color-mono-3: #CBCED1;
$color-mono: #121212;
$color-gray: #707070;
$color-mono-5: #444546;
$color-uranus: #0074E0;
$color-mono-1: #F7F7F8;
$color-sun: #B88E33;

// Fonts
$font-roboto-regular: 'Roboto Regular';
$font-roboto-bold: 'Roboto Bold';
$font-roboto-italic: 'Roboto Italic';
$font-roboto-blackitalic: 'Roboto Black Italic';
$font-roboto-mediumitalic: 'Roboto Medium Italic';

// Layout
$max-width: 1420px;
$breakpoint-tablet: 641px;
$breakpoint-desktop: 900px;