
// Main Wrapper for the Cards section

// I was able to come up with a solve for the cards that
// would be able to allow for the dramatic display difference
// without having to duplicate any of the DOM elements.

// Rules use a "mobile first" approach, so any changes
// required for the tablet or desktop breakpoint are
// set as an update to the rules applied to mobile.
.cards {
  margin-top: -21px;
  padding-bottom: 18px;

  // adjusts the margin offset for desktop view
  @media only screen and (min-width: $breakpoint-desktop) {
    margin-top: -65px;
  }

  // using grid rules to display the cards and
  // dotted line as a row in the order that they
  // are present in the file.
  .content {
    display: grid;
    grid-template-columns: 3px 34px 1fr;
    grid-template-rows: repeat(10, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  // card display rules
  .card {
    @include border-radius(5px);
    background: $color-mono-1;
    color: $color-mono;
    margin-bottom: 16px;
    padding: 19px 8px 19px 16px;

    .label {
      font-family: $font-roboto-bold;
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 8px;
    }

    .blurb {
      font-family: $font-roboto-regular;
      font-size: 16px;
      line-height: 24px;
      padding-right: 8px;
    }
  }

  // Line and Ball display rules
  .line-and-ball {
    align-items: center;
    display: grid;
    grid-template-columns: auto 18px;

    // line is created using a gradient background
    .line {
      background-image: linear-gradient(to right, $color-sun 50%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 6px 3px;
      background-repeat: repeat-x;
      height: 3px;
      margin-right: -2px;
      margin-top: -1px;
    }

    .ball {
      @include border-radius(50%);
      background: $color-sun;
      height: 12px;
      width: 12px;
    }
  }

  // Vertical line that connects the Line and Ball
  // for each card.  Vertical line is applied to the
  // grid of its parent to ensure placement.
  .vertical-line {
    background-image: linear-gradient($color-sun 50%, rgba(255,255,255,0) 0%);
    background-size: 3px 6px;
    background-repeat: repeat-y;
    grid-area: 2 / 1 / 10 / 2;
    width: 3px;
  }
  
  // Sets the Line and Ball into the appropriate
  // positions in the grid.
  .line-ball-first { grid-area: 1 / 2 / 3 / 3; }
  .line-ball-second { grid-area: 3 / 2 / 5 / 3; }
  .line-ball-third { grid-area: 5 / 2 / 7 / 3; }
  .line-ball-fourth { grid-area: 7 / 2 / 9 / 3; }
  .line-ball-fifth { grid-area: 9 / 2 / 11 / 3; }

  // Sets the Cards into the appropriate positions
  // in the grid.
  .card-first { grid-area: 1 / 3 / 3 / 4; }
  .card-second { grid-area: 3 / 3 / 5 / 4; }
  .card-third { grid-area: 5 / 3 / 7 / 4; }
  .card-fourth { grid-area: 7 / 3 / 9 / 4; }
  .card-fifth { grid-area: 9 / 3 / 11 / 4; }

  // Desktop Adjustments
  @media only screen and (min-width: $breakpoint-desktop) {

    // Reworks the grid to fit the needs of the
    // desktop design.
    .content {
      grid-template-columns: 1fr 65px 3px 65px 1fr;
      grid-template-rows: repeat(6, 1fr);
    }

    // Adjustments to card
    .card {
      height: calc(100% - 38px - 16px);

      .blurb {
        font-size: 20px;
        line-height: 28px;
      }
    }

    // Adjusts placement of vertical line to be in
    // the center of the grid
    .vertical-line {
      grid-area: 2 / 3 / 6 / 4;
    }

    // First and fourth Line and Balls are moved to
    // the left column and set to face to the left.
    .line-ball-first {
      grid-area: 2 / 2 / 4 / 3;
      direction: rtl;
    }
    .line-ball-fourth {
      grid-area: 4 / 2 / 6 / 3;
      direction: rtl;
    }

    // Second, third and fifth Line and Balls are
    // moved ot the right column.
    .line-ball-second {
      grid-area: 1 / 4 / 3 / 5;
      margin-top: 4px;
    }
    .line-ball-third { grid-area: 3 / 4 / 5 / 5; }
    .line-ball-fifth {
      grid-area: 5 / 4 / 7 / 5;
    }

    // Cards are positioned according to the design.
    .card-first { grid-area: 2 / 1 / 4 / 2; }
    .card-second { grid-area: 1 / 5 / 3 / 6; }
    .card-third { grid-area: 3 / 5 / 5 / 6; }
    .card-fourth { grid-area: 4 / 1 / 6 / 2; }
    .card-fifth { grid-area: 5 / 5 / 7 / 6; }
  }
}