// The header is set to be fixed to the top, left
// and right to ensure it is always present on
// the page.
.header {
  @include position(fixed, 0, 0, null, 0);
  background: $color-mono;

  // Main layer of the header.  Displays both of
  // the icons to the left and right along the
  // Responsive to width of the page.
  .main {
    align-items: center;
    display: grid;
    grid-template-columns: 60px 200px;
    height: 90px;
    justify-content: space-between;

    .delta-defense {
      align-items: baseline;
      color: $color-mono-3;
      display: grid;
      font-family: $font-roboto-italic;
      font-size: 10px;
      grid-gap: 7px;
      grid-template-columns: 1fr 1fr;
      text-align: right;
    }
  }

  // Lower area of the header
  .message {
    @include gray-bottom-border;
    background: $color-white;
    text-align: center;

    // Sets the text to be right aligned once
    // in tablet breakpoint and higher
    @media only screen and (min-width: $breakpoint-tablet) {
      text-align: right;
    }

    .content {
      font-size: 0;

      div {
        display: inline;
        font-size: 20px;
        line-height: 33px;

        &.label {
          color: $color-gray;
          font-family: $font-roboto-mediumitalic;
          padding-right: 14px;
        }

        &.phone {
          color: $color-mono-5;
          font-family: $font-roboto-bold;
        }
      }
    }
  }
}