// "Splash" section, or the hero section, was developed
// using a Mobile First approach, and any adjustments
// to account for higher breakpoints are overwritten rules
// applied to mobile.
.splash {
  @include gray-bottom-border;
  background: $color-mono;
  color: $color-white;
  padding: 176px 0 54px;

  @media only screen and (min-width: $breakpoint-desktop) {
    padding: 300px 0 146px;
  }

  // Content area uses a grid to standardize the
  // placement of the splash components.  Each
  // breakpoint adjusts the grid columns to fit
  // the necessary designs and area available.
  .content {
    align-items: flex-end;
    display: grid;
    grid-template-columns: 1fr 32px 3px 32px 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    padding-right: 0;

    @media only screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: 2fr 65px 3px 65px 3fr;
    }

    // Set to match the cards grid so that the
    // columns align to each other.
    @media only screen and (min-width: $breakpoint-desktop) {
      grid-template-columns: 1fr 65px 3px 65px 1fr
    }

    img {
      height: auto;
      width: 100%;
    }

    // The Icons Area
    // Placed in the full left section of the grid and set
    // to change size of image based on the breakpoint. Since
    // the image is actually an SVG, using the same image and
    // updating the sizing allows for a DRY approach.
    .column-left {
      grid-area: 1 / 1 / 4 / 3;
      text-align: right;

      img {
        max-height: 240px;
        max-width: 160px;

        @media only screen and (min-width: $breakpoint-tablet) {
          max-width: 250px;
        }

        @media only screen and (min-width: $breakpoint-desktop) {
          max-width: 341px;
        }
      }
    }

    // Number ball has its size and positioning
    // adjusted based on the breakpoints.
    .number-ball-wrapper {
      align-items: center;
      align-self: baseline;
      display: grid;
      grid-area: 1 / 5 / 2 / 6;
      grid-template-columns: 51px auto;
      margin: -18px 0 0 -18px;

      .number-ball {
        @include border-radius(50%);
        background: $color-uranus;
        color: $color-white;
        font-family: $font-roboto-bold;
        font-size: 27px;
        height: 51px;
        line-height: 51px;
        text-align: center;
        width: 51px;
      }

      .super-line {
        background: $color-mono-5;
        height: 1px;
        max-width: 372px;
      }

      @media only screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: 82px auto;
        margin: 0;

        .number-ball {
          font-size: 43px;
          height: 82px;
          line-height: 82px;
          width: 82px;
        }
      }
    }

    // Communities section was able to be kept
    // consistent with only having to add rules
    // to maximize the height and width of the
    // image.
    .communities {
      grid-area: 3 / 5 / 4 / 6;
      padding-right: 16px;

      img {
        max-height: 76px;
        max-width: 422px;
      }
    }
  }
}